<div class="row" style="margin-right": 0">

  <% @places.each do |place| %>
    <div class="booyah-box col-4 offset-1">
      <h1><%= link_to place.name, place_path(place) %></h1><br />
      <i><%= place.address %></i><br />
      <p><%= place.description %></p><br />

      <% if place.photos.present? %>
      <% if place.photos.last.picture.present? %>
        <%= image_tag place.photos.last.picture, class: 'img-fluid' %>
      <%end%>
    <%end%>
    <br />
    <% if place.comments.present? %>
      <div class= "booyah-box col-12" style="background-color: rgba(255, 239, 221,0.5);"!>
        <% if place.comments.last.humanized_rating.present? %>
          <b><% place.comments.last.rating.to_i.times do%>
              <i class="fa fa-star" aria-hidden="true"></i>
                <%end%>
            <% if place.comments.last.rating.to_i < 5 %>
                <% (5-place.comments.last.rating.to_i).times do %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
            <% end %>
            </b>
          <% end %>
          <br/>
          <blockquote>
            <%= place.comments.last.message%>
            <br/><br/><br/>
            <small>Comment by: <%= place.comments.last.user.email %></small>
          </blockquote>
      </div>
    <%end%>
    <% if place.user.present? %>
      <small>Created by :  <%= place.user.email %></small>
    <% end %>
    </div>
  <% end %>
  </div>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @places %>
    </div>
      <%= will_paginate @places, :container => false %>
    </div
  </div>

<%# <%= will_paginate @places, renderer: BootstrapPagination::Rails, bootstrap: 4 %>
